body {
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Top Nav-section */
.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5%;
    padding: 0 12% 0 12%;
    background-color:hsl(0deg 0% 100%);
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 0.8rem;
    line-height: 35px;
}
.container-1 {
    height: 10%;
    padding: 2% 1% 2% 1%;
}
.top-nav>.container-1:hover{
    background-color: hsl(28deg 92% 54%);
    height: 5%;
    color: white;

}
.logo-image {
    height: 5%;
    width: 60%;
}
.fa-user {
    cursor: pointer;
    padding-left: 10px;
}
.container-1 {
    cursor: pointer;
}
.top-btn {
    background-color: #fdb70d;
    border-radius: 15px;
    padding: 8px;
    font-size: 0.8rem;
    border: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}


/* Section-2 */


.section-2 {
    background-color: hsl(30deg 100% 98%);
    height: 22%;
    
    display: flex;
    justify-content: space-between;
    
 
}
.search-product {
    width: 90%;
}
.side-image {
    height: 300px;
    width: 155px;
}
.float-left {
    float: left;
}
.marble {
    color: hsl(28deg 92% 54%);
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}
.flex2-mid {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    
}
.left {
    width: 25%;
    background-color:  hsl(28deg 92% 54%);
    color: white;
    font-size: 13px;
    padding: 1%;

}
.fa-chevron-down {
    padding-left: 3%;
}
.right {
   width: 60%;
   background-color: white;
   padding: 1%;
}
.fa-magnifying-glass {
    float: left;
    padding-right:1%;
}
.icon-left {
    float: left;
}
.input-right {
    float: right;
    width: 33%;
    background-color: white;
}
/* select {
    border: none;
} */
input {
    border: none;
}
.search-icon {
    height: 10px;
    width: 10px;
}
.section-2-flex2 {
    padding: 5% 5% 5% 5%;
    flex-grow: 2;
    align-items: center;
    text-align: center;
}
.section-2-flex3 {
    align-items: flex-start;
}
.section-2-flex1 {
    align-items:flex-start ;
}
h4,h3 {
    word-spacing: 10px;
    font-family: 'Montserrat', sans-serif;
}
h4 {
    font-size:2rem ;
}


/* section-3 */



.section-3 {
     padding-top: 2% ;
    background-color: hsl(0deg 0% 100%);
    height: 23%;
    padding-bottom: 4%;
}
.category-item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.category
{
    text-align: center;
    font-family:'Montserrat', sans-serif ;
    padding-bottom: 2%;
}

.name {
    font-size: 12px;
    font-weight: 600;
    font-family:'Montserrat', sans-serif ;

}
.category-image {
    height: 180px;
    width: 300px; 
}
.fa-chevron-left,.fa-chevron-right {
    height: 10px;
    width: 10px;
    cursor: pointer;
}
.content {
    justify-content: center;
    align-items: center;
    /* font-family: 'Montserrat', sans-serif; */

     padding: 2%; 
}
.para-font {
      width: 300px; 
       font-weight: 200; 
      /* font-family: 'Montserrat', sans-serif;  */
      font-size: 12px;
}
.category-item>.less-space {
    margin-right: 2%;
}
.content:hover {
    background-color: hsl(28deg 92% 54%);
    color: white;
}
#flex-1,#flex-2,#flex-3 {
    border: 0.5px solid rgba(0, 0, 0, 0.181);
    
}



/* section-4 */


.section-4 {
    background-color: hsl(0deg 0% 96%);
    padding: 5%;
}
.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.stones {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 4%;
}
h5 {
   color: #fdb70d; 
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
}
.align {
    text-align: center;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
}



/* Section-5 */
.section-5 {
    background-color: hsl(28deg 92% 54%);

   
    height: 15%;
    
    width: 100%;
    padding: 4%;
}
.type-looking {
    width: 26%;
    padding: 1%;
}
.padding {
    width: 17.5%;
    padding: 1%;
}
.request {
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.convert {
    width: 15%;
    background-color: black;
    color: white;
    padding: 1%;
}
.post-btn {
    background-color: #fdb70d;
    color: white;
    text-align: center;
    width: 20%;
    padding: 1%;
    border: none;
    font-family: 'Montserrat', sans-serif;
}
::placeholder {
    font-size: 10px;
   
    font-family: 'Montserrat', sans-serif;
}
.sub-section-5>div {
      padding-top: 1%;

}
/* Section-6 */
.section-6 {
    height: 35%;
    padding: 5%;
    background-color: hsl(0deg 0% 100%);
}
.marble-view {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
}

.view-all-btn {
    background-color: #fdb70d;
    color: white;
    padding: 10% 20% 10% 20%;
    border: none;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    white-space: nowrap;
    text-align: center;
    border-radius: 5px;

}
.marble-view-flex {
       padding-right: 2.5%;
}
.marble-image {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    padding: 2%;
}
.marble-image-flex {
    height: 243px;
    width: 266px;
    border: 1px solid rgba(0, 0, 0, 0.181);
}
.marble-size {
    height: 193px;
    width: 264px;
}
.marble-type1 {
    background-color: hsl(0deg 0% 98%);
    height: 43px;
    width: 264px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    padding: 2%;
}
   


/* Section-7 */
 .section-7 {
    background-image: url("../assets/img/kar.jpg"); 
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
     height:500px; 
    width: 100%;
    padding: 2%; 
} 
.offer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15% 2%;
}
.chevron {
    background-color: white;
    padding: 0.5%;
}
.discount {
    background-color: white;
    height: 250px;
    width: 350px;
    padding: 1%;
    margin-left: -46%;
    margin-top: -13%;
    
}
.left-btn {
    margin-left: -10%;
}
.word-color {
    color: #fdb70d;
}
.sale {
    font-family:'Montserrat', sans-serif ;
    font-size: 60px;
    font-weight: 1000;
}
.sale-discount {
    border: 1px solid black;
    height: 230px;
    width: 330px;
    padding: 2%;
}
.order-now {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
}
.off {
    font-size: 16px;
    font-weight: 700;
    float: right;
}
.percent {
    padding-right: 10%;
}




.order-btn {
    background-color: #fdb70d;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 12px;
    font-weight: 300;
    white-space: nowrap;
    padding:6% 15%;

}


/* section-8 */


.section-8 {
    background-color:hsl(0deg 0% 100%);
    padding: 4%;
    height: 20%;
}
.city {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
}
.city-flex {
    height: 100px;
    width: 100px;
}
.city-image-small {
    height: 100px;
    width: 100px;
}
.view-more-click {
    height: 100px;
    width: 100px;
    padding: 2%;
}
.click {
    background-color: hsl(0deg 0% 97%);
   color: hsl(27deg 87% 69%);
   font-size: 10px;
   padding: 10%;
   border: none;
   border-radius: 10px;
   text-align: center;
   font-family: 'Montserrat', sans-serif;
   font-weight: 600;
   cursor: pointer;
}
.view-more-bottom {
    font-size: 10px;
    /* font-family: 'Montserrat', sans-serif; */
    text-align: center;
    padding-top: 22%;
    font-weight: 400;
}
.people-comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
}
.people-comment-flex {
    height: 200px;
    width: 350px;
}
.inline {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 3%;
}
 .inline-left {
    
    padding: 2%;
}
.inline-right {
    padding: 6%;
} 
.pradeep-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.people-name {
     font-family: 'Montserrat', sans-serif; 
    font-size: 11px;
    word-spacing: nowrap;
    text-align: center;
    padding-left: 0%;
    padding-top: 2%;
    
}
.people-company{ 
    font-weight: 100;
    font-size: 10px;
    word-spacing: nowrap;
    text-align: center;
    padding-left: 0%;
    padding-top: 2%;
    width: 100%;
   
}
.comment-text {
    font-family: 'Montserrat', sans-serif;
    color: rgba(0, 0, 0, 0.405);
    font-size: 10px;
    font-weight: 200;
    gap: 2px;
}
.quote-icon {
    color: red;
    font-size: 20px;
}


/* Section-9 */


.section-9 {
    background-color: hsl(30deg 100% 98%);
    height: 25%;
    padding: 3%;
}
.person-data {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.person-data-flex1 {
    height: 300px;
    width: 500px;
    padding: 3%;

}
.person-data-flex1>h3 {
    padding-top: 6%;
}
.person-data-flex1>div {
    padding-top:5% ;
}
.person-data-submit {
    background-color: black;
    color: white;
    padding: 2% 8% 2% 8%;
    width: 90%;
    font-family: 'Montserrat',serif;
}
.space {
    padding-top: 10%;
}
.input-box {
   width: 45%;
   padding-top: 2%;
   padding-bottom: 2%;
}
.person-data-flex2 {
    background-color: hsl(28deg 92% 54%);
    height: 400px;
    width: 350px;
    padding: 2%;
    color: white;
}
.person-data-flex2>div {
    font-size: 13.5px;
    font-family: 'Montserrat',serif;
    padding-top: 5%;
}
.message-box {
    width: 90%;
    padding-bottom: 10%;
}


/* Section-10 */
.section-10 {
    background-color: white;
    height: 25%;
    padding: 4%;
}
.question {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2%;
}
.question >.question-flex {
    margin-bottom: 2%;
}
.question-flex {
    width: 100%;
    padding: 2%;
    border: 1px solid rgba(0, 0, 0, 0.144);
    font-size: 10px;
    font-family: 'Montserrat',serif;
}
.fa-chevron-down {
    float: right;
    cursor: pointer;
}


/* Section-11 */

.section-11 {
    background-color: hsl(237deg 25% 15%);
    color: white;
    height: 15%;
    padding: 4% 6%;
}
.company-work-info {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 2%;
}
.info-flex {
    height: 280px;
    width: 200px;
}
.info-flex>p {
    padding-top: 8%;
    font-size: 11px;
    cursor: pointer;
}
.info-flex>div {
    padding-top: 8%;
    font-size: 11px;
    cursor: pointer;
}


/* section-12 */
.section-12 {
    background-color: hsl(236deg 25% 11%);
    color: white;
    height: 4%;
    padding: 1%;
}
.last-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}
.last-section-flex {
    height: 50px;
    width: 250px;
    border: none;
}
.card-companies {
    height: 40px;
    width: 180px;
}
.same-line {
     font-size: 11px;
}


@media only screen and (max-width: 1200px) {
    .top-nav,.section-2,.section-3,.section-4,.section-5,.section-6,.section-7,.section-8,.section-9,.section-10,.section-11,.section-12 {
      width: 1200px
    }

}
@media only screen and (max-width: 992px) {
    .top-nav ,.section-2,.section-3,.section-4,.section-5,.section-6,.section-7,.section-8,.section-9,.section-10,.section-11,.section-12{
      width: 992px
    }
}
@media only screen and (max-width: 767px) {
    .top-nav ,.section-2,.section-3,.section-4,.section-5,.section-6,.section-7,.section-8,.section-9,.section-10,.section-11,.section-12{
        width: 767px;
    }
}
@media only screen and (max-width: 480px) {
    .top-nav,.section-2,.section-3,.section-4,.section-5,.section-6,.section-7,.section-8,.section-9 ,.section-10,.section-11,.section-12{
       width: 480px;
    }
}
